@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@layer utilities{
    .font-inter{
        font-family: "Inter", sans-serif;
    }
    .gradient-text{
    background: linear-gradient(#F7E93F,#FB09B4,#9100F8);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    }
    .text-outline{
        -webkit-text-stroke:1px black;
    }
    .btn{
    background: linear-gradient(90deg,#F7E93F,#FB09B4,#9100F8);
    color: white;
    font-weight: 600;
    border-radius: 10000px;
    border: none;
    padding: 12px 16px;
    cursor: pointer;
}
}